---
layout: layout.njk
title: Projects
---

<h1>About Unseen Things</h1>

<section class="text-image">
  <div class="text">
    <p>Unseen Things was created following the success of the hybrid theatre show and podcast <a href="/unseenhour">The Unseen Hour</a> in 2017. <em>The Unseen Hour</em> was a horror comedy audio-drama with two new scripts every month—three actors playing ten characters and performing foley sound effects live on stage.</p>
  </div>
  <div class="image hover-link">
    <a href="/unseenhour">
      <img src="/images/UnseenHour/Chaos.jpg" alt="The Unseen Hour live performance">
      <h1>The Unseen Hour</h1>
    </a>
  </div>
</section>

<section class="text-image reverse">
  <div class="text">
    <p>Since then, projects led by writer-director James Carney have ranged from theatre to short films to puppetry to traditional craft and sculpture. Unseen Things is the banner under which all these projects are produced.</p>
  </div>
  <div class="image hover-link">
    <a href="/projects">
      <img src="/images/Punch1.jpg" alt="Mr. Punch">
      <h1>Projects</h1>
    </a>
  </div>
</section>

<section class="text-image">
  <div class="text">
    <p>I worked as an actor in London for over a decade and have held a range of production roles in television, theatre, film, and audio alongside developing my own projects. I trained in physical theatre at the École Jacques Lecoq in Paris and now live in the New Forest, where I continue to develop a wide array of solo and collaborative work.</p>
  </div>
  <div class="image">
    <img src="/images/ClownLabProfile.jpg" alt="Lecoq Training">
  </div>
</section>

<section class="text-image reverse">
  <div class="text">
    <p>The New Forest is critical to the recent work listed here. My work is tied to the region, the people, and the heritage of South West England, and that landscape where I now live. I also revived my collaboration with New Forest local Brice Stratford, fellow actor in <em>The Unseen Hour</em> and Artistic Director of The Owle Schreame Theatre Company.</p>
  </div>
  <div class="image hover-link">
    <a href="/owleschreame">
      <img src="/images/owle-schreame/BriceandJimcrop.jpg" alt="Collaborators">
      <h1>The Owle Schreame</h1>
    </a>
  </div>
</section>

<section class="text-image">
  <div class="text">
    <p>After studying at Lecoq, I spent time in Italy learning traditional mask-making and have since developed my own practice as a maker. This has grown into an ongoing craft, and you can see the masks themselves at <a href="/falsefaces">False Faces</a>. <em>False Faces</em> seeks to connect with local regional culture and heritage as well as the international tradition. Through <em>False Faces</em> I am a member of the New Forest Marque—an organisation which supports local produce and arts.</p>
  </div>
  <div class="image hover-link">
    <a href="https://www.falsefaces.co.uk">
      <img src="/images/MaskPortrait.jpg" alt="Mask Portrait">
      <h1>False Faces</h1>
    </a>
  </div>
</section>

<div class="project-card">
  <h2>Actor</h2>
  <p>James Carney Acting CV</p>
  <a class="button" href="https://app.spotlight.com/0855-1270-9729" target="_blank">Spotlight Link</a>
</div>
