---
layout: layout.njk
title: Projects
---

<h1>James Carney</h1>
<section class="projects-grid">

  <div class="project-card">
    <h2>Theatre- and Film-maker</h2>
    <p>Writer, director, producer, editor etc.</p>
    <a class="button" href="/director">Contact details and examples</a>
  </div>

  <div class="project-card">
    <h2>Actor</h2>
    <p>Performer across film, theatre, audio, puppetry etc.</p>
    <a class="button" href="/falsefaces">CV, contact and work</a>
  </div>

 
</section>
