---
layout: layout.njk
title: New Forest Clown Lab

---

<h1>New Forest Clown Lab</h1>

<img source="images\ClownLab2025 NewYearFlyer.jpg">
<p><strong>Every first and third Wednesday each month</strong>, I lead a Clown and physical theatre workshop in Brockenhurst, New Forest, open to both beginners and professionals. These are drop-in classes rooted in the traditions of Lecoq and Gaulier.  It can be exhilirating, it can be stupid, it can be frightening, but regardless of your background and experience it will be fun and useful.</p>

<p><strong>It’s pay-what-you-can</strong> (suggested donation £10), held every two weeks at the Brockenhurst Community Hub  — a five-minute walk from the station, with easy trains from Bournemouth and Southampton, and plenty of parking.</p>

<h2>What to Expect</h2>

<p>Whether you’re brand new to this style or a world famous superstar clown, these workshops help hone instincts, improve timing, and develop stage presence. It's all about becoming more sensitive to what works on stage.</p>

<p>We’ll explore games and exercises, some all together, some in smaller groups or solo. We'll be moving around a lot so wear clothes you can move in. Red noses are sometimes required, sometimes not - I'll provide them, but feel free to bring your own if you have a personal one.</p>

<h2>Who's Leading It?</h2>

<p>The sessions are led by me, James Carney, a Lecoq-trained performer and theatre-maker with years of experience in clown, mask, and physical theatre.</p>

<h2>Location</h2>

<p><strong>Brockenhurst Community Hub (Craft Room)</strong></p>
<p>Highwood Road, Brockenhurst, Hampshire, SO42 7RY</p>

<div style="margin-bottom: 2em">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.3496202895823!2d-1.5738622!3d50.8214207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4873e9f2ac1d5fcd%3A0xd9053ae3aa00b3f6!2sBrockenhurst%20Village%20Hall!5e0!3m2!1sen!2suk!4v1695993082135!5m2!1sen!2suk" 
    width="100%" 
    height="300" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>

<h2>Upcoming Dates</h2>

<ul>
  <li>Wednesday 7th January 2026 – 7:00pm–9:00pm</li>
  <li>Wednesday 21st January 2026 – 7:00pm–9:00pm</li>
  <li>Wednesday 4th February 2026 – 7:00pm–9:00pm</li>
  <li>Wednesday 18th February 2026 – 7:00pm–9:00pm</li>
</ul>

<h2>How to Join</h2>

<p>No need to book—just turn up. If you'd like to get in touch or ask a question, message <a href="https://instagram.com/NewForestClownLab" target="_blank">@NewForestClownLab on Instagram</a> or <a href="mailto:youremail@example.com">drop me an email</a>.</p>
<img src="/images/Nov2025Flyer.jpg" alt="Flyer" class="project-bigimage">
