---
layout: layout.njk
title: New Forest Clown Lab
---

<h1>New Forest Clown Lab</h1>
<p>Starting in November 2026, I will be leading an explorative Clown workshop using exercises in the tradition of Lecoq and Gaullier for both beginners and professionals in Brockenhurst in the New Forest. It's a drop in class, pay-what-you-can, held every two weeks. Just come along and see what you think!</p>

<img src="/images/Nov2025Flyer.jpg" alt="Flyer" class="project-image">
