---
layout: layout.njk
title: False Faces
---
<img src="/images/LogoOverDark.png" alt="False Faces Logo" width="300">

<p>I am a mask-maker and performer. I trained in traditional leather mask-making with Sarah Sartori and Paola Piizi at the Sartori Museum in Italy, and with Stefano Perocco di Meduna at A.I.D.A.S. in Versailles. I have also trained in theatrical mask performance at Ecole Jacques Lecoq, with Carlo Boso, with Antonio Fava, and in the UK with John Wright and Peta Lily. Having training and experience in both the construction and the use of masks is essential for the design and manufacture of theatrical masks which are functional on stage.</p>

<p>I am available for mask commissions, and very happy to discuss your requirements. While I have the designs below available, each mask is unique, hand-made and varies slightly from the designs shown (unless stated otherwise).</p>

<p>I am also offering workshops on mask-making and mask performance for both adults and children.</p>

<p>For any enquiries, please contact falsefacesmasks@gmail.com.</p>

<section class="projects-grid">

 <a href="/falsefaces/masks" class="project-card-link">
  <div class="project-card">
    <img src="/images/FalseFacesExhibition.jpg" alt="Masks" class="project-image">
    <h2>Masks</h2>
    <p>From Commedia dell’Arte to festival and experimental forms — masks for theatre, teaching, and play.</p>
  </div>
</a>

 <a href="/falsefaces/puppets" class="project-card-link">
  <div class="project-card">
    <img src="/images/Punch1.jpg" alt="Puppets" class="project-image">
    <h2>Puppets</h2>
    <p>Hand-carved glove puppets and Punch &amp; Judy characters, alongside experimental puppet forms.</p>
  </div>
</a>

</section>
