---
layout: layout.njk
title: Finding Folklore
---
<img src="/images/FindingFolkloreLogo.jpg" alt="Finding Folklore Logo" width="300">
<h1>A FOLK STORYTELLING PODCAST</h1>
<h2>exploring the myths, legends, fairytales and folk songs of old england</h2>
<p>Finding Folklore is an expansive project exploring the intersections of folktale, folk music and folk tradition in England, through performance storytelling, historical discussion, and newly commissioned recordings from musicians.</p>

<p>New episodes released occasionally, with deep dive companion videos following soon after.</p>

<p>Follow us @findingfolklore on social media, or join our mailing list for more. </p>
<p><a class="button" href="https://open.spotify.com/show/0hVR8Cm1GLlFzg2UheTO8Q?si=6def2b9523bb4879" target="_blank">Listen on Spotify</a></p>

<h3>EPISODE FOUR OUT NOW: 
‘THE URITH SACRIFICE’</h3>
<h3>EPISODE FOUR “DEEP DIVE” COMPANION VIDEO OUT NOW:</h3>
<p><a class="button" href="https://youtube.com/@finding.folklore?si=lc77jS1FcIHIucre">Watch On Youtube</a></p>

<p><a class="button" href="/about">About Us</a></p>