---
layout: layout.njk
title: Unseen Things
bodyClass: splash-page
splash: true
---
<h1>unseen things</h1>
<img src="/images/UnseenThingsLogo.png" alt="Unseen Things Logo" width="194">


<nav class="splash-nav">
  <a href="/projects" class="splash-link">Projects</a>
  <a href="/carney" class="splash-link">James Carney</a>
  </nav>