---
layout: layout.njk
title: Projects
---

<h1>Projects</h1>
<section class="projects-grid">

  <div class="simple-card" style="--card-bg:url('/images/Knucker.png')">
    <h2>Finding Folklore</h2>
    <p>Podcast and video series exploring English myth, song, and cultural heritage.</p>
    <a class="button" href="http://www.findingfolklore.org">Visit Finding Folklore</a>
  </div>


  <div class="simple-card" style="--card-bg:url('/images/FalseFacesExhibition.jpg')">
    <h2>False Faces</h2>
    <p>Artisanal Theatrical and Folk Masks from the New Forest</p>
    <a class="button" href="http://www.falsefaces.co.uk">Explore False Faces</a>
  </div>

  <div class="simple-card" style="--card-bg:url('/images/ClownLabProfile.jpg')">
    <h2>New Forest Clown Lab</h2>
    <p>Fortnightly drop-in explorative workshop for Clown in the middle of the New Forest.</p>
    <a class="button" href="/clownlab">Discover Clown Lab</a>
  </div>

  <div class="simple-card" style="--card-bg:url('/images/Puppets.jpg')">
    <h2>Punch &amp; Judy</h2>
    <p>Traditional English glove puppetry.</p>
    <a class="button" href="http://www.falsefaces.co.uk/punchandjudy">See Punch &amp; Judy</a>
  </div>
{#
  <div class="simple-card">
    <h2>New Forest Cultural Council</h2>
    <p>Building cultural infrastructure and preserving heritage in the New Forest.</p>
    <a class="button" href="/culturalcouncil">Learn More</a>
  </div>
#}

  <div class="simple-card" style="--card-bg:url('/images/owle-schreame/Mummers.jpg')">
    <h2>The Owle Schreame Theatre Company</h2>
    <p>Rough historical theatre company reviving long-lost plays and performance practices.</p>
    <a class="button" href="/owleschreame">Coming Soon</a>
  </div>

  <div class="simple-card" style="--card-bg:url('/images/UnseenHour/FawlkesCan.jpg')">
    <h2>The Unseen Hour</h2>
    <p>A darkly comic cult podcast blending horror, satire, and the absurd.</p>
    <a class="button" href="/unseenhour">Archive</a>
  </div>

</section>
