---
layout: layout.njk
title: Punch And Judy
---

<h1>Punch & Judy</h1>
<p>Professor James Carney performs Punch &amp; Judy with hand carved puppets in a booth made from coppiced hazel. The show is silly, funny and brutal, and the kids love it. If you would like to enquire about bookings <a href="mailto:james@falsefaces.co.uk">email me</a>.</p>
.</p>
