<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/acb1lax.css">
  </head>
<body class="{{ bodyClass | default('') }}">
{% if not splash %}
  <nav class="top-nav">
    <div class="nav-left">
      <a href="/"><img src="/images/UnseenThingsLogo.png" alt="Logo" width="200" height="200" /></a>
    </div>
    <div class="nav-center">
      <a href="/" class="home-link">unseen things</a>
    </div>
    <div class="nav-right">
      <div class="dropdown-nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle" />
        <label for="nav-toggle" class="nav-toggle-label">☰ Menu</label>
        <ul class="nav-links">
          {% if page.url != '/' %}
            <li><a href="/">Home</a></li>
          {% endif %}
          {% if page.url != '/findingfolklore/' %}
            <li><a href="/findingfolklore">Finding Folklore</a></li>
          {% endif %}
          {% if page.url != '/falsefaces/' %}
            <li><a href="/falsefaces">False Faces</a></li>
          {% endif %}
          {% if page.url != '/clownlab/' %}
            <li><a href="/clownlab">New Forest Clown Lab</a></li>
          {% endif %}
          {% if page.url != '/punchandjudy/' %}
            <li><a href="/punchandjudy">Punch &amp; Judy</a></li>
          {% endif %}
          {% if page.url != '/owleschreame/' %}
            <li><a href="/owleschreame">The Owle Schreame Theatre Company</a></li>
          {% endif %}
          {% if page.url != '/unseenhour/' %}
            <li><a href="/unseenhour">The Unseen Hour</a></li>
          {% endif %}
          {% if page.url != '/carney/' %}
            <li><a href="/carney">James Carney</a></li>
          {% endif %}
          {% if page.url != '/contact/' %}
            <li><a href="/contact">Contact</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endif %}

  <div class="content-wrapper">
    <main>
      {{ content | safe }}
    </main>
</div>
    
      <div class="social-icons">
                <a href="http://www.instagram.com/ofunseenthings" target="_blank" aria-label="Instagram">
          <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://www.youtube.com/@ofunseenthings" target="_blank" aria-label="YouTube">
          <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" alt="YouTube" />
        </a>
      </div>
<footer class="site-footer">
      <p>Unseen Things, Lyndhurst, England, United Kingdom</p>
      <p>&copy;2025 Unseen Things</p>
    </footer>
  </body>
</html>
